@model TicketsBooking.Models.TicketViewModel

<link rel="stylesheet" href="~/css/main.css">
<script src="~/js/main.min.js"></script>

<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<title> Edit Ticket</title>

<header class="header">
    <div class="container">
        <a class="header_logotype active" href="/">
            W<span>G</span>
        </a>
        <nav class="header_menu">
            <div class="header_burger">
                <div class="header_burger_item"></div>
            </div>
            <ul class="header_menu-list">
                <li class="header_menu-item">
                    <a class="header_menu-item--link" href="@Url.Action("Index", "Ticket")">Tickets</a>
                </li>
                <li class="header_menu-item">
                    <a class="header_menu-item--link" href="/Admin/Flights">Flights</a>
                </li>
                <li class="header_menu-item">
                    <a class="header_menu-item--link" href="#">Users</a>
                </li>
                <li class="header_menu-item">
                    <a class="header_menu-item--link" href="">Add Ticket</a>
                </li>

                <li class="header_menu-item">
                    <a class="header_menu-item--link" href=""> @User.Identity.Name </a>
                </li>

            </ul>
        </nav>
        <div class="header_buttons">
            <a class="header_buttons-basket" href="/Cart/Index">
                <img src="~/img/icon/basket.svg" alt="">
            </a>
            <a class="header_buttons-login" href="/Account/LogOff">
                <span>Logout</span>
            </a>
        </div>
    </div>
</header>

<div class="admin-edit-ticket">

    <form method="post" action="/Admin/UpdateTicket">
        <div class="ticket">
            <div class="ticket-id">
                <p>ID:<span><span>
                <input readonly
                       value="@Model.Id"
                       name="Id" />
                </p>
            </div>
            <div class="ticket-main_info">
                <div class="duration">
                    <div class="company">Company</div>
                    <div class="time">
                        <p>@Model.FlightDepartmentDate.Hour</p>
                        <p>@Model.LocationFrom</p>
                        <span>@Model.FlightDepartmentDate</span>
                        <span>
                            <input readonly
                                   value="@Model.FlightId"
                                   name="FlightId" />
                        </span>
                    </div>
                    <div class="time">
                        <p>@Model.FlightArrivingDate.Hour</p>
                        <p>@Model.LocationTo</p>
                        <span>@Model.FlightArrivingDate</span>
                        
                    </div>
                    <span class="lnr lnr-arrow-right"></span>
                </div>
                <div class="price">
                    <p>@Model.Price $</p>
                    <input placeholder="New Price"
                           value=""
                           name="Price" />
                </div>
            </div>

            <div class="buttons">
                <button type="submit">Save Changes</button>
            </div>

        </div>
    </form>
    <div class="buttons">
        <button onclick="window.location.href = '@Url.Action("GetAllTickets", "Admin")'">Cancel</button>
    </div>
</div>

<footer class="footer">
        <div class="container footer-wrapper">
            <div class=" main_block-header1 footer-logotype">
                WeGo
            </div>
            <div class="footer-menu">
                <div class="footer-title">Links</div>
                <nav class="footer-menu-nav">
                    <ul>
                        <li>
                            <a href="#">Tickets</a>
                        </li>
                        <li>
                            <a href="#">Special</a>
                        </li>
                        
                        <li>
                            <a href="#">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="footer-contact">
                <div class="footer-title">Contact</div>
                <div class="footer-contact-wrapper">
                    <a class="footer-contact-col-line" target="_blank" href="tel:+380931234567">+380931234567</a>
                    <a class="footer-contact-col-line" target="_blank" href="test@gmail.com">test@gmail.com</a>

                </div>
            </div>
            <div class="footer-socials">
                <div class="footer-title">Socials</div>
                <div class="footer-socials-wrapper">
                    <a href="#" title="Facebook"
                       class="footer-socials-item"
                       target="_blank">
                        @* <img src="" class="footer_socials-item--image" alt="Facebook"> *@
                    </a>
                    <a href="#" title="Twitter" class="footer-socials-item" target="_blank">
                        @* <img src="" class="footer_socials-item--image" alt="Twitter"> *@
                    </a>
                    <a href="#" title="Instagram" class="footer-socials-item" target="_blank">
                        @* <img src="" class="footer_socials-item--image" alt="Twitter"> *@
                    </a>
                </div>
            </div>
        </div>
    </footer>

